@charset "utf-8";
/*公共*/
.fn-center {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	display: box;
	box-orient: horizontal;
	box-pack: center;
	box-align: center;
	text-align: center;
}
html,body{ background: #FFF; height: 100%;font-family: "微软雅黑"}

/*登录*/
.loginBox{
    width: 100%;
    height: 100%;
	min-height: 700px;
    position: relative;
}
 .oplink {color: #E44035; font-size: 13px;}
 .text-center a:hover {
	 color: #e44035;
	 text-decoration: none;
 }
 			.invalid:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
					color: #e44035;
					opacity: 1;
			}
			.invalid::-moz-placeholder { /* Mozilla Firefox 19+ */
					color: #e44035;
					opacity: 1;
			}
			input.invalid:-ms-input-placeholder{
					color: #e44035;
			}
			input.invalid::-webkit-input-placeholder {
					color: #e44035;
			}



.login-content{
    background-color: #FFF;
    margin: 0 auto;
    width: 370px;
	padding:88px 0;
	min-height: 700px;
}
.register-tip{color: #D0021B;font-size:12px}
.logobox{width: 100px; margin: 10px auto; text-align: center;}
.logobox .fn-icon{display: inline-block; width: 80px;height: 80px;background-repeat: no-repeat;background-size: 100%}
.logobox .logo{  background-image: url(../../images/logo2.png); }
.logobox .name{ color: #6A6A6A;font-size:20px; margin-bottom: 25px;}
.logobox .icon_suc{background-image: url(../../images/icon_suc.png)}

.login-content .form-group{ margin: 0 0 16px 0}
.form-control{ height:36px;border-color: #DFE4E7;font-size: 12px;}
.login-content .input-error{ color:#D0021B;font-size: 13px; height: 25px;  text-align: left; padding:0 0 0 12px;margin-top: 0px;}
.login-content label.error{color:#D0021B;font-size: 13px; height: 20px; text-align: left; padding:4px 0 0 12px; margin-bottom:0px;font-weight: normal}
.login-content .btn-primary{padding:5px 12px;background-color: #E44035; color: #FFF; border-color: #E44035;}
.login-content .btn-primary:hover{ opacity: 0.9}
.login-content .btn-go{width:60px;}
.login-content .btn-send{width: 120px; background-color: #FFE7E7; color:#E44035; border:1px solid #FFE7E7; }
.login-content .btn-send.selected{background: #F6F6F6; color: #aaa;border:1px solid #F6F6F6; outline: none}
.login-content .inputbox{ position: relative}
.login-content .input-group-btn{ position: absolute;top: 2px;right: 2px;}
.login-content .input-group-btn .btn{ float: right; border-radius: 3px;  outline: none}

.btn-login,.btn-login:hover{background-color: #E44035; color: #FFF; border-color: #E44035;border-radius: 3px; height: 50px;font-size:16px;line-height: 38px;}
.form-title{ border-bottom: 1px solid #DFE4E7; color: #666; margin-top:30px; font-size: 14px; text-align: center; margin-bottom:20px;height: 10px;}
.form-title span{ background-color: #fff; padding: 0 10px; display: inline-block; }
.login-content .form-title:first-child{margin-top: 0px;}

/*.hit{ color: #999;font-size: 13px; margin-top: 30px;}
.suc-hit{ padding:40px 0 60px;}
.suc-hit h2{color: #D0021B;font-size: 36px;font-weight: normal; padding-bottom: 10px;}
.suc-hit p{color: #999;font-size:18px;}*/
.footer{font-size: 12px; color: #999; text-align: center; width: 100%; position: absolute;bottom: 20px;}
/*input::-webkit-input-placeholder {
color:#bbb !important;
}*/
